html,body,h1,h2,h3,h4,li,ul,ol,button,div {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    background: white;

    border-radius: 0.5rem;

    height: 90%;
    width: 80%;

    padding: 1rem;
}

.country-header{
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 1rem;
}

.flag-name-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.flag {
    height: 70px;
    border: 1px solid black;
}

.name {
    font-size: 1.5rem;
}


.favourite {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.info {
    margin-top: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    gap: 3rem;
}

.detail-item:last-child { 
    border-bottom: none;
}
